<div class="item">
  <h2><%= control.name %></h2>
  <% pin = runner.pins[control.id] %>
  <% pin_state = runner.read_pin(pin) %>
  <p><%= pin_state.to_s.capitalize %></p>
  <form action="/<%= control.id %>" method="post">
    <input type="radio"
           name="state"
           value="on"
           <%= "checked" if pin_state == :on %>> On <br />
    <input type="radio"
           name="state"
           value="off"
           <%= "checked" if pin_state == :off %>> Off <br />
    <input type="submit" value="Submit">
  </form>
</div>
